.home {
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  h1, h2, h3 {
    font-family: 'Playfair Display', serif; 
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
  }
 
  .welcomeBanner {
    //background-color: #f8f8f8;
    color: #333;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    text-align: center;
    font-weight:500;
    margin-bottom: 1.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    .promo {
      max-width: 50%;

      h2 {
        font-size: 2.5rem;
        margin: 1rem 0;
        font-family: 'Playfair Display', serif;
      }

      button {
        background: black;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
      }
    }

    .heroImage img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }

  .intro {
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
   // font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  
    .card {
      text-align: center;
      padding: 1rem;
      border: 1px solid #eee;
      border-radius: 8px;
      background-color: #fff;

      img {
        max-width: 100%;
        border-radius: 8px;
      }

      button {
        margin-top: 0.5rem;
        background-color: #333;
        color: white;
        border: none;
        padding: 0.4rem 0.8rem;
        border-radius: 4px;
      }
    }
  }

  .newsletter {
    background: #f9f9f9;
    padding: 2rem;
    text-align: center;

    input {
      padding: 0.5rem;
      width: 250px;
      margin-right: 1rem;
    }

    button {
      padding: 0.5rem 1rem;
      background-color: black;
      color: white;
      border: none;
    }
  }

  .footer {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    font-size: 0.9rem;
    background: #eee;
  }

  .products {
    padding: 2rem;
  
    .grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr); 
      gap: 1.5rem;
  
      @media (min-width: 600px) {
        grid-template-columns: repeat(2, 1fr); 
      }
  
      @media (min-width: 900px) {
        grid-template-columns: repeat(3, 1fr); 
      }
  
      @media (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr); 
      }
    }
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }