.newsletter {
    padding: 2rem;
    background-color:#f2eaea;
    text-align: center;
    //border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    margin-top: 3rem;
    font-family: 'Playfair Display', serif;
    .content {
      max-width: 500px;
      margin: 0 auto;
      align-items: center;
  
      h2 {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
      }
  
      p {
        font-size: 1.2rem;
        color: #555;
        margin-bottom: 1.5rem;
      }

      .signedIn {
        font-size: 1rem;
        color: #aa8c64;
        font-style: italic;
        margin: 0;
      }

      .form {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
  
        input {
          padding: 0.75rem 1rem;
          border-radius: 6px;
          border: 1px solid #ccc;
          font-size: 1rem;
        }
  
      
      }
    }
  
    .waveTop {
    width: 100%;
    height: 70px;
    display: block;
    opacity: 0.8;
  }

  .waveBottom {
    width: 100%;
    height: 70px;
    display: block;
    margin-top: 1.5rem;
    opacity: 0.8;
  }

  @media (min-width: 600px) {
      .form {
        flex-direction: row;
  
        input {
          flex: 1;
        }
  
        button {
          width: auto;
        }
      }
    }
  }
  