.card {
    text-align: center;
    padding: 1rem;
   font-weight:bolder;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
    font-family: 'Playfair Display', serif;
    h3 {
      font-size: 1rem;
      margin: 0.5rem 0;
      font-weight: 700;
    }
  
    p {
      color: #666;
    }
  
    &:hover {
      transition:background-color 0.3s ease, border 0.3s ease;
      background-color: #f2eaea;
      border: 0.5px solid #b4aaaa;
    }
    .imageContainer {
       // position: relative;
        width: 100%;
        //aspect-ratio: 1 / 1;
       // overflow: hidden;
        border-radius: 8px;
      }
    
      .image {
        object-fit:contain;
     
      }
    }
  
 
  